.logo img{
        height: 70px;
    width: auto;
    margin: 5px;
}
#contactos input{
    display: block;
}
#contactos .md-form label{
    font-size: 1.6rem;
}
#contactos .md-form label:after{
    font-size: 1rem;
}
#contactos .md-form label.active{
    font-size: 1rem;
}

#contactos .md-form{
    width: 50%;
    margin: 0 auto 25px;
}
#contactos {
    margin-top:10px;
}
#modal-contactos .modal-body{
    background-image: url(/images/contactos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}