.peach-gradient {
    background: -webkit-linear-gradient(50deg,#ffd86f,#fc6262);
    background: linear-gradient(40deg,#ffd86f,#fc6262);
}
.item1{
    margin-bottom: 55px;
}
.item1 .peach-gradient{
    width: 60%;
    position: absolute;
    margin: auto 90px;
    margin-top: -20px;
}
.logoVenta{
    right: 19px;
    position: absolute;
    z-index: 99;
}
.logoVenta img{
    height: 272px;
    float: right;
    right: 100%;
}
.depas{
    width: 50%;
    border: none;
    z-index: 99999999999;
    top: 80%;
    position: absolute;
    right: 27%;
    
}
.depas button{
    height: 20px;
}
.fondo-item{
    padding: 0;
}
.depas button{
    padding: 10px 13px 27px;
}
.depa{
    /* box-shadow: 2px 3px 3px 0 rgba(0, 0, 0, 0.75); */
    height: auto;
    /* background: white; */
     width: 97%;
    /*padding: 5px;
    border-radius: 5px;
    border: none; */
    z-index: 99999999999;
    top: 2%;
    position: absolute;
    right: 10px;
}
.logoVenta p{
    color: white;
    margin: 30px 0px;
    font-size: 1.8em;
}
.logoVenta .message{
    background: #121035;
    width: 100%;
    padding: 1px 30px;
    margin-top: 15px;
    float: right;
}
.fondo{
    width: 100%;
    margin: 0;
    background: white;
}
.fondo img{
    padding: 0;
}
.isSelled{
    color:red !important;
}
.isInfo{
    padding: 20px 50px;
    height: 100%;
    background: white;
}
.infoDepa .card{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.pricing-card .price {
    position: relative;
    padding-top: 2rem;
}
.pricing-card .header {
    border-radius: 6px 6px 0 0;
    color: #fff;
}
.pricing-card .striped li {
    border-bottom: 1px solid rgba(153,153,153,.298039);
    margin-bottom: 1rem;
}
.pricing-card ul {
    list-style-type: none;
    padding: 0;
}
.pricing-card .striped {
    padding: .6rem;
}
.card .card-body {
    position: relative;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}